<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/registration}" th:object="${memForm}" method="post">
	    <div><label> MemberID : <input type="text" name="memId"/> </label></div>
	    <div><label> Password : <input type="password" name="password"/> </label></div>
	    <div><label> Confirm  : <input type="password" name="passwordConfirm"/> </label></div>
	    <div><input type="submit" value="Submit"/></div>
	</form>
</body>
</html>